.ant-row{
  flex: 1;
  align-items: center;
}
.operate-btn{
  margin-right: 20px;
}
.operate{
  text-align: right;
}
.edit-col{
  display: flex !important;
  align-items: center;
}

.ant-btn{
  margin-left: 10px;
}